@import 'themas.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 235, 224);
   
}

.container{
    border: 2px solid red;
    width: 90%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    box-shadow: var(--shadow-dark);
    background-color: aliceblue;
}