@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: aliceblue;
  border: 1px solid rgb(31, 29, 29);
  position: relative;
  background-color: #131e25;
}

header {
  text-align: center;
  font-family: "Bungee Shade", sans-serif;
  font-size: 25px;
  color: aliceblue;
}

header h2 {
  margin-top: -60px;
}

nav.link {
  text-align: center;
  word-spacing: 25px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav a {
  display: inline-block;
  text-decoration: none;
  width: 100px;
  height: 35px;
  text-align: center;
  padding-top: 5px;
  background-color: sandybrown;
  border: none;
  border-radius: 15px;
}

.btn:hover {
  opacity: 0.6;
}

nav.link a {
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
  font-family: "Kanit", sans-serif;
  letter-spacing: 3px;
}

nav a:hover {
  background-color: rgba(244, 165, 96, 0.521);
  color: rgb(179, 106, 106);
}

.about p {
  margin-top: 10%;
  padding: 10%;
  font-family: "Rampart One", sans-serif;
  text-align: center;
  font-size: 45px;
}

section.photo {
  margin-top: 15%;
  text-align: center;
}

section.photo h2 {
  display: inline-block;
  border-bottom: 2px solid rgb(255, 249, 249);
  margin-bottom: 2%;
  font-family: "Kanit", sans-serif;
}

div img {
  width: 220px;
  height: 300px;
  border-radius: 15px;
}

div img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.contact {
  margin-top: 15%;
  text-align: center;
}
.contact h2 {
  display: inline-block;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-bottom: 2%;
  font-family: "Kanit", sans-serif;
}
.contact a {
  margin: 10px;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  color: sandybrown;
}

.contact a:hover {
  color: rgb(240, 9, 9);
}

.form {
  text-align: center;
}

.form h3 {
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  margin-top: 15px;
}

form input {
  color: aliceblue;
  padding-left: 15px;
  padding-right: 15px;
  width: 60%;
  display: inline-block;
  line-height: 35px;
  background-color: #131e25;
  border: 2px solid sandybrown;
  border-radius: 5px;
  text-align: center;
}

#comment {
  color: aliceblue;
  padding-top: 10px;
  width: 60%;
  background-color: #131e25;
  border: 2px solid sandybrown;
  border-radius: 5px;
  text-align: center;
}

form h2 {
  display: inline-block;
  color: white;
  width: 60%;
  height: 55px;
  margin-bottom: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  text-align: center;
  border: none;
  border-radius: 7px;
  background-color: rgba(244, 165, 96, 0.5);
  cursor: pointer;
  letter-spacing: 5px;
}

form h2:hover {
  color: rgb(233, 45, 45);
  background-color: rgba(77, 55, 2, 0.637);
}

form h2:hover::after {
  display: inline-block;
  content: "📨";
  height: 65px;
  padding-left: 10px;
  padding-bottom: 50px;
}

#top {
  position: fixed;
  top: 95%;
  left: 90%;
  background-color: rgb(240, 128, 77);
  width: 80px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  padding: 7px;
  font-family: "Kanit", sans-serif;
  color: aliceblue;
  border-radius: 10px;
}
