//*****************************************************
//*   NAV
//*****************************************************

@use "../abstracts/variables";
@use "../abstracts/mixins";

nav{
    // border: 2px solid red;
    height: 10vh;
    padding: 1rem;
    ul{
        text-align: right;
        list-style-type: none;
        li{
            display: inline;
            padding: 1rem;
            a{
                text-decoration: none;
                font-size: 1.3rem;
                font-family: variables.$font-family;
                font-weight: 500;
                @include mixins.soft (0.5s);
                &:hover {
                    color: blue;
                }
        
            }
            .nav__link--active{
                color: variables.$secondary-color;
            }
        }
    }
}



