*{
    /* margin: 0% !important; */
    /* padding: 0% !important; */
    /* box-sizing: border-box !important; */
}


/*! NAVBAR  */
.nav-container  a{
    color: rgb(235, 243, 250) !important;
    white-space: nowrap;
}
.nav-head  a:hover{
    color: rgb(197, 126, 126) !important;
}

.navbar-link a{
    color: rgb(207, 204, 201) !important;
}
.navbar-link a:hover{
    color: rgb(255, 255, 255) !important;
}

.nav-container img{
    width: 75px;
}

.navbar{
    background-color: rgb(34, 34, 34) !important;
    height: 100px;
}

                        /*! IMAGE CAROUSEL */

.carousel-indicators button{
    width: 100px !important;
    height: 3px !important;
    color: aliceblue;
    margin-bottom: 20px;
}
    
.carousel-caption{
    margin-bottom: 170px !important;
    /* padding-right: 350px !important; */
    width: 15% !important;

}
.carousel-caption button {
    font-size: 1.3rem;
    width: 100px !important;
    height: 40px;
    border-radius: 5px;
    background-color: aliceblue;
    text-decoration: none !important;
    border: none;
}
.carousel-caption button:hover{
    background-color: rgb(246, 246, 69);

}

.carousel-caption button a{
    text-decoration: none;
    color: rgb(53, 39, 39);
}

.img-slide{
    margin-top: 50px ;
    width: 100%;
    height: 450px !important;
}

            /*!  SERVICE  */

.service{
    height: 75px;
    width: 13rem;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.295);
}

.service:hover{
    border: 3px solid yellow;
}

.service a{
    white-space: nowrap;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.664);
    font-size: 1.1rem;

}