@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(94, 137, 143);
}

.container{
    padding: 2rem;
    background-color: rgb(253, 253, 253);
    width: 80%;
    margin: 10rem auto;
    border-radius: 15px;
    box-shadow: 2px 2px 30px;
}

.form{
    height: 3rem;
    margin: 2rem;
    display: flex;
    /* background-color: blueviolet; */
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    text-transform: capitalize;


}

.form1{
    padding: 1rem;
    background-color: rgb(131, 131, 113);
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
}

.form2{
    padding-left: 2rem;
    background-color: rgba(240, 240, 171, 0.679);
    display: flex;
    flex: 4;
    border-radius: 7px;
    color: black;
    align-items: center;
}

.result-html{
    text-align: center;
    background-color: rgb(214, 240, 240);
    margin: 2rem;
    height: 5rem;
    border: 2px solid rgb(26, 239, 228) ;
    border-radius: 10px;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

.not{
    background-color: rgb(238, 132, 132);
    margin: 2rem;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 2px 2px 10px black;

}

.notdiv{
    padding: 2rem;
    margin: 2rem auto;
    width: 58%;
    text-align: start;   

}

.not-p{
    font-size: 1.5rem;
    font-style: italic;
}