//**************************************
//*   MIXINS
//**************************************

@use "./variables";

@mixin soft($sec) {
    transition: all 0.5s;
}

@mixin bgImg($height, $path) {
    height: $height;
    width: 100%;
    background: linear-gradient(to right, rgba(variables.$primary-color, 0.9), rgba(variables.$primary-color, 0.3)), url($path);
    background-position: center;
    background-size: cover;
}