//**************************************
//*   VARIABLES
//**************************************

//*  TEXT

$primary-color: #2c2525;
$secondary-color:#c47d21;
$text-color:#fbfcf3;

//* FONT

//kalın
    $font-family-head: "Protest Strike", sans-serif;


//ince

    $font-family-prg: "Anta", sans-serif;

  

  // RESİMLER

  $pathBg01: "../img/bg-img-01.jpg";
  $pathBg02: "../img/bg-img-02.jpg";

  $proje01: "../img/pojectImg01";
  $proje02: "../img/pojectImg02";
  $proje03: "../img/pojectImg03";
