* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    background-color: rgba(68, 67, 64, 0.719);
    width: 90%;
    margin: 7rem auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
  }
  
  .head {
    margin: 1rem auto;
    padding: 1rem;
    color: rgb(231, 142, 142);
    /* height: 70px; */
    width: 600px;
    font-size: 1.7rem;
    border: 3px solid rgb(250, 247, 247);
    border-radius: 10px;
    text-align: center;
  }

  input {
    background-color: rgb(226, 216, 220);
    color:rgb(4, 39, 70);
    border-radius: 10px;
    text-align: center;
    font-size: 2rem !important;
  }
  
  .input {
    display: grid;
    gap: 1rem;
  }

  button {
    background-color: chocolate;
    color: aliceblue;
    width: 200px;
    height: 40px;
    margin: auto !important;
    border-radius: 10px !important;
    font-size: 1.5rem !important;
  }
  
  button:active {
    opacity: 0.8;
  }

  .prg p {
    /* border: 3px solid rgb(240, 232, 232); */
    text-align: center;
    width: 500px;
    /* color: beige; */
    height: 50px;
    font-size: 1.5rem;
    border-radius: 10px;
    /* margin-top: 1rem; */
    padding: 10px !important;
  }
  
  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: end;
  }
  
  section button{
    width: 150px;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .paused-button{
    display: none;
  }


        /*! CONGRATS STYLE */

.congrats{
  color: rgb(255, 179, 80) ;
  font-size: 2rem;
}

.guess-note{
  color: rgb(250, 65, 65) ;
  font-size: 2rem;
}

.guess-note-bir-sayi-gir{
  color: rgb(70, 31, 247) ;
  font-size: 2rem;
}
