

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
}

.container{
    width: 80%;
    margin: 10rem auto;
    background-color: rgb(104, 104, 189);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(17, 25px);
    gap: 4px;
    font-size: 20px;
}

.box{
    background-color: aquamarine;
}


