@import url("https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300;1,600&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

.container {
  border-radius: 10px;
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.644),
      rgba(255, 255, 255, 0.637)
    ),
    url(images/logo-clarusway.png);
}

h1 {
  text-align: center;
  font-family: "Rubik Burned", system-ui;
  font-size: 13vh;
  color: rgb(66, 66, 45);
}

.row1 {
  background-color: aquamarine;
  display: flex;
  margin: 1% auto;
  width: 80%;
  height: 30vh;
  background-image: linear-gradient(
    90deg,
    rgb(229, 175, 175),
    rgb(241, 60, 60)
  );
  border-radius: 20px;
  transition: 2sn;
  box-shadow: 2px 2px 3px rgb(28, 16, 16);
}

.row1:hover {
  width: 90%;
  height: 35vh;
  transition: 1s;
}

img {
  margin: 20px;
  border-radius: 15px;
  border: 2px inset rgb(69, 17, 17);
}

/* img:hover{
    overflow: hidden;
    width: 90vh;
    transition: 2s;
} */

.row1 h3 {
  padding-top: 15px;
  color: white;
  font-family: "Kanit", sans-serif;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.row1 p {
  display: inline;
  padding-top: 5px;
  padding-right: 30px;
  font-family: "Kanit", sans-serif;
  color: aliceblue;
  text-align: justify;
  font-size: 1.2em;
}

.row1 button {
  background-color: rgb(255, 115, 0);

  width: 7vw;
  height: 5.5vh;
  border-radius: 7px;
  display: block;
  margin-left: 80%;
  margin-top: 3%;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
}

.footer {
  padding: 10px;
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
}

footer {
  display: flex;
  background-color: rgb(212, 225, 225);
  margin: 2% 10%;
  border-radius: 10px;
  padding: 1% 27%;
}

footer i {
  margin-left: 30px;
  color: blue;
}
